<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org.thymeleaf-extras-springsecurity4">
<head>
  <title>Profile</title>
  <th:block th:replace="base :: headstuff"></th:block>
</head>
<body class="w3-theme-l5">

<!-- Navbar -->
<nav th:replace="base :: navbar"></nav>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Middle Column -->
    <div class="w3-col m7">

      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-card w3-round w3-white">
            <div class="w3-container w3-padding">
              <h6 class="w3-opacity">All Posts:</h6>
            </div>
          </div>
        </div>
      </div>

      <div class="w3-container w3-card w3-white w3-round w3-margin" th:each = "aPost : ${posts}"><br>
        <img th:src="${aPost.creator.profilePic}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
        <span class="w3-right w3-opacity">1 min</span>
        <h4 th:text = "${aPost.creator.firstName} + ' ' + ${aPost.creator.lastName}"></h4><br>
        <h4 th:text = "${aPost.subject}"></h4><br>
        <hr class="w3-clear">
        <p th:text="${aPost.content}"></p>
        <div class="w3-row-padding" style="margin:0 -16px">
          <div class="w3-half" th:if="${aPost.imageUrl} != null">
            <img th:src="${aPost.imageUrl}" style="width:100%" alt="Post Image" class="w3-margin-bottom">
          </div>
        </div>
        <a th:href="@{/users/detail/{id}(id=${aPost.creator.id})}"><button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-user-plus"></i>  Follow</button></a>
      </div>

      <!-- End Middle Column -->
    </div>
    <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>
<br>

<th:block th:replace="base :: jslinks"></th:block>
</body>
</html>