<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org.thymeleaf-extras-springsecurity4">
<head>
    <title>Profile</title>
    <th:block th:replace="base :: headstuff"></th:block>
</head>
<body class="w3-theme-l5">

<!-- Navbar -->
<nav th:replace="base :: navbar2"></nav>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1600px;margin-top:80px">
    <!-- The Grid -->
    <div class="w3-row">
        <!-- Left Column -->
        <div class="w3-col m2">
            <!-- Profile -->
            <div class="w3-card w3-round w3-white">
                <div class="w3-container">
                    <h4 class="w3-center">My Profile</h4>
                    <p class="w3-center"><img th:src="${currentuser.profilePic}" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
                    <hr>
                    <p th:inline="text"><i class="fa fa-user fa-fw w3-margin-right w3-text-theme"></i> [[${currentuser.firstName}]] [[${currentuser.lastName}]]</p>
                    <p th:inline="text"><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> [[${currentuser.email}]]</p>
                    <p th:inline="text"><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> Following:  <a th:href="@{/users/following}">[[${currentuser.noOfFriends}]]</a></p>

                </div>
            </div>

            <br>
            <!-- Interests -->
            <div class="w3-col m11">
                <h4 class="w3-center">Headline News</h4>
                <div class="w3-container w3-card w3-white w3-round w3-margin"th:each="article:${articles}"><br>
                    <span class="w3-right w3-opacity" th:text="${article.publishedAt}"></span>
                    <h4 th:text="${article.title}"></h4><br/>
                    <hr class="w3-clear">
                    <span th:text="${article.description}"></span>
                    <div><img class="w3-border w3-image" th:src="${article.image}"></div>
                    <a th:href="${article.url}"></a>
                    <div class="w3-row-padding" style="margin:0 -16px">
                        <div class="w3-half">
                            <!--<img src="/w3images/lights.jpg" style="width:100%" alt="Northern Lights" class="w3-margin-bottom">-->
                        </div>
                        <div class="w3-half">
                            <!--<img src="/w3images/nature.jpg" style="width:100%" alt="Nature" class="w3-margin-bottom">-->
                        </div>
                    </div>
                </div>
                <!-- End Middle Column -->
            </div>
            <br>

            <!-- Interests -->
            <!-- End Left Column -->
        </div>
        <!--<tr th:each="itemslist: ${items}">-->

        <!--<td th:text="${itemslist.nameOfItem}"></td>-->
        <!--<td th:text="${itemslist.description}"></td>-->
        <!--<td  th:text="${itemslist.tags}"></td>-->
        <!--<td  th:text="${itemslist.price}"></td>-->
        <!--<td  th:text="${itemslist.Soldout ? 'SOLD OUT' : 'AVAILABLE'}"></td>-->
        <!--<td ><a th:href="@{/updateliste/{id}(id=${itemslist.id})}">Buy item</a></td>-->
        <!--</tr>-->

        <!-- Middle Column -->
       <div th:if="${cart}">
        <div class="container" th:if="${cart.addressFilled}">
            <h2>Item for Delivery</h2>
            <p th:inline="text"><i class="fa fa-clock-o fa-fw w3-margin-right w3-text-theme"></i> Date of purchase : [[${cart.dateOfPurchase}]]</p>

            <table >
                <thead>
                <tr >
                    <th>ITEM</th>
                    <th>DISCRIPTION</th>
                    <th>NUMBER OF ITEM</th>
                    <th>UNIT PRICE</th>
                    <th>TAX</th>
                    <th>TOTAL PRICE</th>
                </tr>
                </tr>
                </thead>
                <tbody th:if="${items}">
                <tr  th:each = "itemslist: ${items}">
                    <td th:text="${itemslist.nameOfItem}"></td>
                    <td th:text="${itemslist.description}"></td>
                    <td  th:text="${itemslist.numOfItem}"></td>
                    <td  th:text="${itemslist.price}"></td>
                    <td >6%</td>
                    <td th:text="${(itemslist.price)*(0.06)*(itemslist.numOfItem) + (itemslist.price)*(itemslist.numOfItem)}"></td>
                </tr>
                <tr th:if="${cart}">
                    <td>Grand Total</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td ></td>
                    <td th:text="${cart.totalPrice}"></td>
                </tr>
                </tbody>
            </table>
            <p th:inline="text"><i class="fa fa-clock-o fa-fw w3-margin-right w3-text-theme"></i>Your Item Will Be Shipped to  : [[${currentuser.streetAddress}]] and zip code: [[${currentuser.zipCode}]] </p>
            <p th:inline="text"><i class="fa fa-clock-o fa-fw w3-margin-right w3-text-theme"></i> Date of Delivery will be : [[${cart.deliveryDate}]]</p>
        </div>
           <div class="container" th:if="${!cart.addressFilled}">
               <div class="w3-col m7">

                   <div class="w3-row-padding">
                       <div class="w3-col m12">
                           <div class="w3-card w3-round w3-white">
                               <div class="w3-container w3-padding">
                                   <h6 class="w3-opacity"></h6>
                                   <form th:action="@{/users/checkoutdelivery}" th:object="${aUser}" method="post" >
                                       <input type="hidden" th:field="*{id}">
                                       <h2>Please fill your shipping Address</h2>
                                       <div class="form-group col-md-6">

                                           <label for="StreetAddress" th:text="'Street Address'"></label>
                                           <input type="text" class="form-control" th:field="*{streetAddress}">
                                       </div>
                                       <div class="form-group col-md-6">
                                           <label for="zipcode" th:text="'zip code'"></label>
                                           <input type="text" class="form-control" th:field="*{zipCode}">
                                       </div>


                                       <button type="submit" class="btn btn-primary">Submit</button>
                                   </form>
                               </div>
                           </div>
                       </div>
                   </div>
                   <!-- End Middle Column -->
               </div>
           </div>
       </div>
        <!-- End Grid -->
    </div>
    <!-- End Page Container -->
</div>
<br>img th:src="${currentuser.profilePic}"

<th:block th:replace="base :: jslinks"></th:block>
</body>
</html>