<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org.thymeleaf-extras-springsecurity4">
<head>
    <title>Users</title>
    <th:block th:replace="base :: headstuff"></th:block>
</head>
<body class="w3-theme-l5">

<!-- Navbar -->
<nav th:replace="base :: navbar"></nav>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <!-- The Grid -->
    <div class="w3-row">

        <!-- Middle Column -->
        <div class="w3-col m7">

            <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                <h1 class="w3-center">USERS</h1><br>
                <hr class="w3-clear">
                <div class="w3-row-padding" style="margin:0 -16px">
                </div>
            </div>
            <br/>
            <div th:each="userslist: ${users}">
                <div class="w3-container w3-card w3-white w3-round w3-margin" th:if="${currentUser.username}!=${userslist.username}" >
                    <br>
                    <!--<img src="/w3images/avatar2.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">-->
                    <h3 th:text="'Full Name: ' + ${userslist.firstName} + ' ' + ${userslist.lastName}"></h3><br>
                    <h4 th:text="'Username: ' + ${userslist.username}"></h4><br>
                    <h4 th:text="'Email: ' + ${userslist.email}"></h4><br>
                    <h4 th:text="'Active? ' + ${userslist.enabled}"></h4><br>
                    <hr class="w3-clear">
                    <div class="w3-row-padding" style="margin:0 -16px" th:each="eachRole:${userslist.roles}">
                        <div th:if="${userslist.enabled}">
                            <a th:href="@{/admin/availability/{id}(id=${userslist.id})}">
                                <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom">
                                    <i class="fa fa-toggle-off"></i>
                                    SUSPEND
                                </button>
                            </a>
                        </div>
                        <div th:if="${!userslist.enabled}">
                            <a th:href="@{/admin/availability/{id}(id=${userslist.id})}">
                                <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom">
                                    <i class="fa fa-toggle-on"></i>
                                    REINSTATE
                                </button>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <!-- End Middle Column -->
        </div>
        <!-- End Grid -->
    </div>

    <!-- End Page Container -->
</div>
<br>

<th:block th:replace="base :: jslinks"></th:block>
</body>
</html>