<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org.thymeleaf-extras-springsecurity4">
<head>
    <title>Home Page</title>
    <th:block th:replace="base :: headstuff"></th:block>
</head>
<body class="w3-theme-l5">

<!-- Navbar -->
<nav th:replace="base :: navbar"></nav>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <!-- The Grid -->
    <div class="w3-row">
        <!-- Accordion -->
        <div class="w3-card w3-round">
            <div class="w3-white">
                <div id="Demo3" class="w3-hide w3-container">
                    <div class="w3-row-padding">
                        <br>
                        <div class="w3-half">
                            <!--<img src="/w3images/lights.jpg" style="width:100%" class="w3-margin-bottom">-->
                        </div>
                        <div class="w3-half">
                            <!--<img src="/w3images/nature.jpg" style="width:100%" class="w3-margin-bottom">-->
                        </div>
                        <div class="w3-half">
                            <!--<img src="/w3images/mountains.jpg" style="width:100%" class="w3-margin-bottom">-->
                        </div>
                        <div class="w3-half">
                            <!--<img src="/w3images/forest.jpg" style="width:100%" class="w3-margin-bottom">-->
                        </div>
                        <div class="w3-half">
                            <!--<img src="/w3images/nature.jpg" style="width:100%" class="w3-margin-bottom">-->
                        </div>
                        <div class="w3-half">
                            <!--<img src="/w3images/snow.jpg" style="width:100%" class="w3-margin-bottom">-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br/>
    </div>

    <!-- Middle Column -->
    <div class="w3-col m7">
        <div class="w3-container w3-card w3-white w3-round w3-margin"th:each="article:${articles}"><br>
            <!--<img src="/w3images/avatar2.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">-->
            <span class="w3-right w3-opacity" th:text="${article.publishedAt}"></span>
            <h4 th:text="${article.title}"></h4><br/>
            <hr class="w3-clear">
            <span th:text="${article.description}"></span>
            <div><img class="w3-border w3-image" th:src="${article.image}"></div>
            <a th:href="${article.url}"></a>
            <div class="w3-row-padding" style="margin:0 -16px">
                <div class="w3-half">
                    <!--<img src="/w3images/lights.jpg" style="width:100%" alt="Northern Lights" class="w3-margin-bottom">-->
                </div>
                <div class="w3-half">
                    <!--<img src="/w3images/nature.jpg" style="width:100%" alt="Nature" class="w3-margin-bottom">-->
                </div>
            </div>
        </div>
        <!-- End Middle Column -->
    </div>
    <!-- End Grid -->
</div>

<!-- End Page Container -->
</div>
<br>

<th:block th:replace="base :: jslinks"></th:block>
</body>
</html> 
