<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org.thymeleaf-extras-springsecurity4">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous" />
    <title>Login</title>
    <th:block th:replace="base :: headstuff"></th:block>
</head>
<body class="w3-theme-l5">

<!-- Navbar -->
<nav th:replace="base :: navbar"></nav>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <!-- The Grid -->
    <div class="w3-row">
    </div>

    <!-- Middle Column -->

    <div class="w3-col m7">

        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
            <h1 class="w3-center">Login</h1><br>
            <hr class="w3-clear">
            <div class="w3-row-padding" style="margin:0 -16px">
            </div>
        </div>
        <div class="w3-row-padding">
            <div class="w3-col m12">
                <div class="w3-card w3-round w3-white">
                    <div class="w3-container w3-padding">

                        <div class="error" th:if="${param.error}" >
                            Invalid username and password.<br/><br/>
                        </div>
                        <div class="success" th:if="${param.logout}">
                            You have been logged out.<br/><br/>
                        </div>

                        <form th:action="@{/login}" method="post">
                            <label>Username</label>
                            <input type="text" name="username" class="w3-input w3-border w3-padding"><br/>
                            <label>Password</label>
                            <input type="password" name="password" class="w3-input w3-border w3-padding"><br/>
                            <button type="submit" class="w3-button w3-theme"><i class="fa fa-pencil"></i> Sign In</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- End Grid -->
    </div>

    <!-- End Page Container -->
</div>
<br>

<th:block th:replace="base :: jslinks"></th:block>
</body>
</html> 