<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Profile</title>
    <th:block th:replace="base :: headstuff"></th:block>
</head>
<body class="w3-theme-l5">

<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
        <a href="/" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-globe w3-margin-right"></i>LifeBook</a>
        <a href="/logout" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Logout"><i class="fa fa-window-close-o"></i>Logout</a>
        <div class="w3-hide-small w3-right">

            <form th:action="@{/users/findpost}">
                <label>Search:</label>
                <input type="text" name="query">
                <button type="submit" class="w3-button w3-theme"><i class="fa fa-pencil"></i> Search</button>
            </form>
        </div>
        <div class="w3-dropdown-hover w3-hide-small w3-right">
            <button class="w3-button w3-padding-large" title="MyAccount"><!--<img src="/w3images/avatar2.png" class="w3-circle" style="height:23px;width:23px" alt="Avatar">--><span class="w3-badge w3-right w3-small w3-green"></span></button>
            <div class="w3-dropdown-content w3-bar-block" style="width:300px">
                <a href="#" class="w3-bar-item w3-button">Login</a>
                <a href="#" class="w3-bar-item w3-button">Login</a>
                <a href="#" class="w3-bar-item w3-button">Login</a>
                <a href="#" class="w3-bar-item w3-button">Check Settings</a>
                <a href="#" class="w3-bar-item w3-button">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Login</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Logout</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Setting</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
</div>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <!-- The Grid -->
    <div class="w3-row">
        <!-- Left Column -->
        <div class="w3-col m3">
            <!-- Profile -->
            <div class="w3-card w3-round w3-white">
                <div class="w3-container">
                    <h4 class="w3-center">My Profile</h4>
                    <p class="w3-center"><img th:src="${currentuser.profilePic}" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
                    <hr>
                    <p th:inline="text"><i class="fa fa-user fa-fw w3-margin-right w3-text-theme"></i> [[${currentuser.fullName}]]</p>
                    <p th:inline="text"><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> [[${currentuser.email}]]</p>
                    <p th:inline="text"><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> Following:  <a th:href="@{/users/following}">[[${currentuser.noOfFriend}]]</a></p>

                </div>
            </div>
            <br>

            <!-- Interests -->
            <div class="w3-card w3-round w3-white w3-hide-small">
                <div class="w3-container">
                    <p>Weather conditions for the next 7 days:</p>
                    <p>
                    <div><span><strong>Day 1:</strong></span> </span><span th:text="${weatherFirstDay}"></span></div>
                    <div><span><strong>Day 2:</strong></span> </span><span th:text="${weatherSecondDay}"></span></div>
                    <div><span><strong>Day 3:</strong></span> </span><span th:text="${weatherThirdDay}"></span></div>
                    <div><span><strong>Day 4:</strong></span> </span><span th:text="${weatherFourthDay}"></span></div>
                    <div><span><strong>Day 5:</strong></span> </span><span th:text="${weatherFifthDay}"></span></div>
                    <div><span><strong>Day 6:</strong></span> </span><span th:text="${weatherSixthDay}"></span></div>
                    <div><span><strong>Day 7:</strong></span> </span><span th:text="${weatherSeventhDay}"></span></div>
                    </p>
                    <p>
                        <span class="w3-tag w3-small w3-theme-d5">Weather</span>
                    </p>
                </div>
            </div>
            <br/>

            <!-- End Left Column -->
        </div>

        <!-- Middle Column -->
        <div class="w3-col m7">

            <div class="w3-row-padding">
                <div class="w3-col m12">
                    <div class="w3-card w3-round w3-white">
                        <div class="w3-container w3-padding">
                            <h6 class="w3-opacity"></h6>
                            <form th:action="@{/users/newmessage}" th:object =${post}
                                  method="post" enctype="multipart/form-data">
                                <label>Subject:</label>
                                <input type="text" class="w3-input w3-border w3-padding" th:field="*{subject}"><br/>
                                <label>Post</label>
                                <textarea class="w3-input w3-border w3-padding" th:field = "*{content}"></textarea><br/>
                                <label>Picture</label>
                                <input type="file" name ="file" class="w3-input w3-border w3-padding"><br/>
                                <button type="submit" class="w3-button w3-theme"><i class="fa fa-pencil"></i>  Post</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w3-container w3-card w3-white w3-round w3-margin" th:each = "aPost : ${posts}"><br>
                <img th:src="${aPost.creator.profilePic}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
                <div class="w3-right w3-opacity" th:text="${aPost.dateOfPost}"></div>
                <h4 th:text = "${aPost.creator.fullName}"></h4><br>
                <h4 th:text = "${aPost.subject}"></h4><br>
                <hr class="w3-clear">
                <p th:text="${aPost.content}"></p>
                <div class="w3-row-padding" style="margin:0 -16px">
                    <div class="w3-half">
                        <img th:src="${aPost.imageUrl}" style="width:100%" alt="Post Image" class="w3-margin-bottom">
                    </div>
                    <div class="w3-half">
                        <!--<img src="/w3images/nature.jpg" style="width:100%" alt="Nature" class="w3-margin-bottom">-->
                    </div>
                </div>
                <div th:switch="${currentuser.getFollowing().contains(aPost.creator)}">
                <span th:case="false"><a th:href="@{/users/follow/{id}(id=${aPost.creator.id})}"><button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-user-plus"></i>  FOLLOW</button></a></span>
                <span th:case="true"><a th:href="@{/users/unfollow/{id}(id=${aPost.creator.id})}"><button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-user-plus"></i>  UNFOLLOW</button></a></span>
                </div>
                <div sec:authorize="hasAuthority('ADMIN')">
                    <span><a th:href="@{/users/delete/{id}(id=${aPost.id})}"><button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-user-plus"></i>  Delete Message</button></a></span>

                </div>
                </div>




            <!-- End Middle Column -->
        </div>
        <!-- End Grid -->
    </div>

    <!-- End Page Container -->
</div>
<br>

<!-- Footer -->
<!-- <footer class="w3-container w3-theme-d3 w3-padding-16">
  <h5>Footer</h5>
</footer>
<footer class="w3-container w3-theme-d5">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer> -->

<th:block th:replace="base :: jslinks"></th:block>
</body>
</html>