<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org.thymeleaf-extras-springsecurity4">
<head>
    <title>Registration</title>
    <th:block th:replace="base :: headstuff"></th:block>
</head>
<body class="w3-theme-l5">

<!-- Navbar -->
<nav th:replace="base :: navbar"></nav>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <!-- The Grid -->
    <div class="w3-row">
    </div>

    <!-- Middle Column -->
    <div class="w3-col m7">

        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
            <h1 class="w3-center">Register</h1><br>
            <hr class="w3-clear">
            <div class="w3-row-padding" style="margin:0 -16px">
            </div>
        </div>
        <div class="w3-row-padding">
            <div class="w3-col m12">
                <div class="w3-card w3-round w3-white">
                    <div class="w3-container w3-padding">
                        <form th:object = ${user} th:action="@{/register}" method="post" enctype="multipart/form-data">

                            <div th:if="${confirmationMessage} != null" class="success">
                                <span th:text=${confirmationMessage}></span><br/><br/>
                            </div>
                            <div th:if="${errorMessage} != null" class="error">
                                <span th:text=${errorMessage}></span>
                                <a th:href="@{/resendconfirmation}"><p>Click here to resend confirmation</p></a><br/><br/>
                            </div>

                            <input type="hidden" th:field="*{id}">
                            <label>First Name</label>
                            <input type="text" class="w3-input w3-border w3-padding" th:field="*{firstName}">
                            <span class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span><br/><br/>
                            <label>Last Name</label>
                            <input type="text" class="w3-input w3-border w3-padding" th:field="*{lastName}">
                            <span class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span><br/><br/>
                            <label>Username</label>
                            <input type="text" class="w3-input w3-border w3-padding" th:field="*{username}">
                            <span class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
                            <span class="error" th:if="${existingusername} != null" th:text="${existingusername}"></span><br/><br/>
                            <label>Email</label>
                            <input type="email" class="w3-input w3-border w3-padding"
                                   placeholder="example@domain.com" th:field="*{email}">
                            <span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                            <span class="error" th:if="${existingemail} != null" th:text="${existingemail}"></span><br/><br/>
                            <fieldset>
                                <legend>Interests:</legend>
                                <select class="form-control" th:field="*{interests}" multiple>
                                    <option th:each ="interest:${interests}"
                                            th:value="${interest.id}"
                                            th:text="${interest.name}"></option>
                                </select>
                            </fieldset>
                            <br/><br/>
                            <button type="submit" class="w3-button w3-theme"><i class="fa fa-pencil"></i>Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- End Grid -->
    </div>

    <!-- End Page Container -->
</div>
<br>

<th:block th:replace="base :: jslinks"></th:block>
</body>
</html> 